<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>your links</title>
    </head>
    <body>
        <h2>Links:</h2>
        <ul>
            {{#each links}}
            <li><a href={{this}}>{{this}}</a></li>
            {{/each}}
        </ul>
    </body>
</html>
